{% extends "base_generic.html" %}
{% block title %}<title>Menu</title>{% endblock %}
{% block content %}
  <h1>Menu</h1>
  <p class="TODO">Resume: Make salads like pasta, complete these two menu items, then replan</p>
{% for a in foodtypes %} <!-- Loop 1 -->
<h2>{{a.menutype}}</h2>
<p class="TODO">QuearySetDict: {{a.QuerySetDict}}</p>
<p class="TODO">Sort by Ascending Price</p>

{% for key, value in a.items %} <!-- Experiment 1 -->
<p class="TODO"><span>key: {{ key }}: </span><span>value: {{ value }}</span></p>
<p class="TODO">{{a.name_for_url}}</p>
{% endfor  %}  <!-- Experiment 1 -->
  <h3 class="TODO">End Experiment 1</h3>

  <ul>
{% for b in a.QuerySet %}  <!-- Loop 2 -->


    <li>
      <a href="{{b.get_absolute_url}}">{{b.id}} {{b.name}} $ {{b.price}}</a>
      <span>-</span><a href="{{b.get_absolute_url}}update">Edit</a>
      <a href="{{b.get_absolute_url}}delete">Delete</a>

<p class="TODO">b: {{b}}</p>




    </ul>

          <a href="{{a.get_absolute_url}}/create">Add a {{a.menutype}}</a>

            <br>
          <a href="{{pasta}}/pasta/create">Add (Hardcoded Path)</a>
                  <p class="TODO">{{a.get_absolute_url}}/create</p>
          <br>
          <a href="{{a.foodname}}/create">Add (SemiHardcoded Path)</a>


    {% endfor %}  <!-- Loop 2 -->

    <h3 class="TODO">Experiment 2 Play with dictionary instead</h3>
    <p class="TODO">a: {{a}}</p>
    {% for key, value in a.items %}  <!-- Experiment 2 -->
    {% if value == a.foodname %}
    <p class="TODO">True: {{a.foodname}}</p>
    <p class="TODO">a.name_for_url: {{a.name_for_url}</p>
    <a href="{{a.name_for_url}}/create">Add (Experimental Path)</a>
      {%endif%}
    {% endfor  %}  <!-- Experiment 2 -->
    <h3 class="TODO">End Experiment 2</h3>

{% endfor %}  <!-- Loop 1 -->



  <p class="TODO">update for models  </p>
  <p class="TODO">Next: Add Pasta and try DRY methods</p>
  <p class="TODO">Then: Consider using update and mothball edit_menu_items</p>


  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}
