/* Other white colors: https://encycolorpedia.com/fdf5e8 */
h1, h2, h1 + h5, h2 + h5, h6 {
  text-align: center; }

ul {
  list-style-type: none;
  padding-left: 0; }

body {
  background-color: #fbfbf8;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 1.25em; }

.thfoods {
  width: 100%;
  text-align: center; }

a:visited {
  color: white; }

.white_text {
  color: white; }

#menuheader {
  width: 100%;
  cellspacing: 0;
  cellpadding: 0; }

#menutdheaderleft, #menutdheaderright {
  width: 20%; }

#menutdheaderleft {
  background-color: #239346; }

#menutdheaderright {
  background-color: #be0027;
  color: #be0027; }

#menutdheadercenter {
  width: 60%; }

/*
#qtylargepizza {
  width: 10%;
  text-align: center;
}
#qtysmallpizza {
  width: 10%;
  text-align: center;
}
*/
.foodmenu {
  width: 100%; }

.addtopping {
  width: 50%; }

.toppingheader {
  width: 100%;
  background-color: #239346; }

.toppingpage {
  width: 100%; }

.toppingpage_left, .toppingpage_right {
  width: 20%;
  background-color: #239346; }

.toppingpage_middle {
  width: 60%; }

.foodrow, .foodname, .foodname-1, .foodname-3, .foodprice, .foodprice-3, .foodbuttons, .resetbutton .placeholder {
  text-align: left;
  display: table-cell;
  padding-top: 0;
  padding-bottom: 0;
  border-collapse: collapse;
  margin-top: 0;
  margin-bottom: 0; }

.foodrow, .foodrow-3, .foodrow-1, .foodname-0, .foodname, .foodname-1, .foodname-3, .simpleborder, .redborder {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: .1rem; }

.foodrow-3, .foodrow-1, .foodrow-1 {
  width: 100%; }

.foodname-0 {
  width: 50%;
  /*padding-right:5%;*/ }

.foodname, .foodname-1 {
  width: 50%; }

.foodname-3 {
  width: 35%; }

.foodprice {
  width: 25%; }

.foodprice-3 {
  width: 20%; }

.foodbuttons {
  width: 25%; }

.resetbutton .placeholder {
  width: 10%;
  display: none;
  padding: 0;
  margin: 0; }

.addtopping_name, .addtopping_button {
  width: 25%; }

.addpizza {
  color: #ffffff;
  color: white; }

section {
  margin: 0 10% 0 10%; }

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0.5rem; }

.onerow {
  display: inline-block; }

.navbuttons {
  margin: 2%; }

/* Tooltips from https://www.w3schools.com/css/css_tooltip.asp */
/*TODO after formatting is complete*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */ }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible; }

/* from https://stackoverflow.com/questions/45456543/make-text-show-up-on-hover-over-button */
/*TODO Fix formatting based on above */
.tooltipqty {
  border: none;
  width: 32px;
  height: 32px;
  background-color: #eee;
  transition: all;
  cursor: pointer; }

.tooltipqty:hover {
  border: 1px solid #888;
  background-color: #ddd; }

.navbar {
  width: 100%;
  text-align: center; }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center; }

.flex-container-left {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left; }

.flex-container-right {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: right; }

.flex-container-left-vert {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  text-align: left;
  background: lightgray; }

.flex-container-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  /*  Why doesn't this behave the same as flex-container*/ }

.simpleborder {
  border-color: black; }

.redborder {
  border-color: red; }

.botmargin {
  margin-bottom: .5rem; }

.text-center {
  text-align: center; }

.msghead {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  color: gray;
  /*try grayscale($color)*/ }

.msgtext {
  margin-top: 0; }

.msgdate {
  text-align: right; }

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s; }

#closebtn:hover {
  color: black; }

.TODO {
  color: red; }

/*# sourceMappingURL=p3.css.map */
