/* Alt - Ctrl - C to watch scss for changes */
/* or cmd-shift P and Atom Sass Compile */
/* Other white colors: https://encycolorpedia.com/fdf5e8 */
h1, h2, h1 + h5, h2 + h5, h6 {
  text-align: center; }

ul {
  list-style-type: none;
  padding-left: 0; }

body {
  background-color: #fbfbf8;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 1.25em; }

#order_frame {
  width: 100%;
  border-top: 10px solid #239346;
  border-bottom: 10px solid #239346; }

#table_wrapper {
  position: relative; }

#table_scroll {
  height: 50rem;
  overflow: auto;
  margin-top: 20px; }

.thfoods {
  width: 100%;
  text-align: center; }

a:visited {
  color: white; }

.white_text {
  color: white; }

#menuheader {
  width: 100%;
  cellspacing: 0;
  cellpadding: 0; }

#menutdheaderleft, #menutdheaderright {
  width: 20%; }

#menutdheaderleft {
  background-color: #239346; }

#menutdheaderright {
  background-color: #be0027;
  color: #be0027; }

#menutdheadercenter {
  width: 60%; }

#login_guest {
  width: 60%;
  border: 2px solid black;
  border-collapse: collapse; }

.login_guest {
  text-align: center;
  width: 30%; }

.foodmenu {
  width: 100%; }

.addtopping {
  width: 50%; }

.toppingheader {
  width: 100%;
  text-align: center;
  background-color: #239346;
  color: #239346;
  box-sizing: border-box; }

.th {
  text-align: center; }

.toppingpage {
  width: 100%; }

.toppingpage_left, .toppingpage_right {
  width: 30%;
  background-color: #239346; }

.toppingpage_middle {
  width: 40%; }

.menupage {
  width: 100%; }

.menupage_left, .menupage_right {
  width: 15%;
  background-color: #239346; }

.menupage_middle {
  width: 70%; }

.reviewpage {
  width: 100%; }

.reviewpage_left, .reviewpage_right {
  width: 5%;
  background-color: #239346; }

.reviewpage_middle {
  width: 90%; }

.foodrow, .foodname, .foodname-1, .foodname-3, .foodprice, .foodprice-3, .foodbuttons, .resetbutton .placeholder {
  text-align: left;
  display: table-cell;
  padding-top: 0;
  padding-bottom: 0;
  border-collapse: collapse;
  margin-top: 0;
  margin-bottom: 0; }

.foodrow, .orderitem, .foodrow-3, .foodrow-1, .foodrow-0, .foodname, .foodname-1, .foodname-3, .simpleborder, .redborder {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: .1rem; }

.orderitem {
  border-style: solid none solid none; }

.foodrow-3, .foodrow-1, .foodrow-1 {
  border-style: solid none solid none;
  width: 100%; }

.foodrow-0 {
  border-style: none;
  width: 100%; }

.foodname-0 {
  /* @extend %borders; */
  border-style: none;
  width: 50%;
  text-align: center;
  /*padding-right:5%;*/ }

.foodname, .foodname-1 {
  border-style: solid none solid none;
  border-style: none;
  border-collapse: collapse;
  width: 50%; }

.foodname-3 {
  border-style: none;
  width: 35%; }

.foodprice {
  border-style: none;
  width: 15%;
  white-space: nowrap; }

.foodprice-3 {
  border-style: none;
  width: 15%;
  white-space: nowrap; }

.delete_button {
  margin-left: 2rem; }

.line_item_price, .item_price {
  padding-left: 2rem;
  white-space: nowrap; }

.boldText {
  font-weight: bold; }

.resetbutton .placeholder {
  width: 10%;
  display: none;
  padding: 0;
  margin: 0; }

.addtopping_name, .addtopping_button {
  width: 25%; }

.addpizza {
  color: #ffffff;
  color: white; }

.noborders {
  border-style: none; }

.pizzabuttonspace {
  width: 33%; }

.addtoppingspace {
  width: 20%; }

section {
  margin: 0 10% 0 10%; }

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0.5rem; }

.onerow {
  display: inline-block; }

.navbuttons {
  margin: 2%; }

/* Tooltips from https://www.w3schools.com/css/css_tooltip.asp */
/*TODO after formatting is complete*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */ }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible; }

/* from https://stackoverflow.com/questions/45456543/make-text-show-up-on-hover-over-button */
/*TODO Fix formatting based on above */
.tooltipqty {
  border: none;
  width: 32px;
  height: 32px;
  background-color: #eee;
  transition: all;
  cursor: pointer; }

.tooltipqty:hover {
  border: 1px solid #888;
  background-color: #ddd; }

.navbar {
  width: 100%;
  text-align: center; }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em; }

.flex-container-left {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left; }

.flex-container-right {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: right; }

.flex-container-left-vert {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  text-align: left;
  background: lightgray; }

.flex-container-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  /*  Why doesn't this behave the same as flex-container*/ }

.flex-container-space {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch; }

.simpleborder {
  border-color: black; }

.redborder {
  border-color: red; }

.botmargin {
  margin-bottom: .5rem; }

.text-center {
  text-align: center; }

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41; }

.msghead {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  color: gray;
  /*try grayscale($color)*/ }

.msgtext {
  margin-top: 0; }

.msgdate {
  text-align: right; }

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s; }

#closebtn:hover {
  color: black; }

.TODO {
  color: red; }

/*# sourceMappingURL=p3.css.map */
