gitignore.txt
orders/__init__.py
orders/__pycache__/__init__.cpython-37.pyc
orders/__pycache__/admin.cpython-37.pyc
orders/__pycache__/apps.cpython-37.pyc
orders/__pycache__/forms.cpython-37.pyc
orders/__pycache__/models.cpython-37.pyc
orders/__pycache__/urls.cpython-37.pyc
orders/__pycache__/views.cpython-37.pyc
orders/migrations/0001_initial.py
orders/migrations/0002_auto_20190608_1637.py
orders/migrations/0003_delete_salad.py
orders/migrations/0004_salad.py
orders/migrations/0005_salads.py
orders/migrations/0006_delete_salads.py
orders/migrations/0007_auto_20190611_0738.py
orders/migrations/0008_saladinstance.py
orders/migrations/0009_pasta.py
orders/migrations/0010_auto_20190625_0647.py
orders/migrations/__init__.py
orders/migrations/__pycache__/0001_initial.cpython-37.pyc
orders/migrations/__pycache__/0002_auto_20190608_1637.cpython-37.pyc
orders/migrations/__pycache__/0003_delete_salad.cpython-37.pyc
orders/migrations/__pycache__/0004_salad.cpython-37.pyc
orders/migrations/__pycache__/0005_salads.cpython-37.pyc
orders/migrations/__pycache__/0006_delete_salads.cpython-37.pyc
orders/migrations/__pycache__/0007_auto_20190611_0738.cpython-37.pyc
orders/migrations/__pycache__/0008_saladinstance.cpython-37.pyc
orders/migrations/__pycache__/0009_pasta.cpython-37.pyc
orders/migrations/__pycache__/0010_auto_20190625_0647.cpython-37.pyc
orders/migrations/__pycache__/__init__.cpython-37.pyc
project3/__pycache__/__init__.cpython-37.pyc
project3/__pycache__/settings.cpython-37.pyc
project3/__pycache__/urls.cpython-37.pyc
project3/__pycache__/wsgi.cpython-37.pyc
project_notes.rtf