Django==2.2.8 # Updated for security alert 12/04/2019
Django==2.2.4 # Updated for security alert
#Django==2.2.3 # Added for ERROR: no such table: main.auth_user__old
#Sqlite==2.5.1 # Added to fix How to fix-no such table: main.auth_user__old error - did not work
