{% extends "base_generic.html" %}
{% block title %}<title>Place Order</title>{% endblock %}
{% block content %}
<table id="order_frame">
  <tr class="place_order_page_header">
    <td colspan="3"></td>
  </tr>
  <tr class="place_order_page_header">
    <td class="place_order_page_left"></td>
    <td class="place_order_page_middle">
    <table id="login_guest">
      <tr class="login_guest"><th>Login to rate your orders and save order history</th><th>or Continue as Guest</th></tr>
      <tr>
        <td class="login_guest"><span class="btn btn-primary" style="color:white">
          <a style="color:white" href="{% url 'login'%}?next=/orders/review_order.html">Login</a>
        </span></td>
        <td class="login_guest">
          <form action="{% url 'get_orderJS' %}" method="post">
            {% csrf_token %}
            {# form #}
            <input  type="submit" class="btn btn-primary" style="color:white"
            value="Continue as Guest">
            <textarea id="orderdataJSON" name="orderdataJSON" rows="8" cols="80" style = display:none></textarea>
          </form>
        </td>
      </tr>
      <tr>
        <td class="login_guest"><span class="btn btn-primary" >
          <a style="color:white" href="/orders/signup.html">Sign Up</a>
        </span></td>

          <th>Remember to Review and Place Order</th>
        
      </tr>
    </table>
</td>
<br>
<td class="place_order_page_right"></td>
</tr>
<tr class="place_order_page_header">
<td colspan="3"></td>
</tr>
</table>

    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'orders/common.js' %}"></script>
    <script src="{% static 'orders/p3place_order.js' %}"></script>
    {% endblock %}
