{% extends "base_generic.html" %}
{% block title %}<title>AJAX Experiments</title>{% endblock %}
{% block content %}
<div class="TODO">
  <p>Center table on window, or add space</p>
  <p>Format like add toppings</p>
  <p id="test_data">data: {{data}}</p>
  <p>Cleanup likePost and other tries in urls.py and views.py and .js</p>
</div>
<div style="overflow-x:auto;overflow-y:auto;">
  <table id="login_guest">
    <tr class="login_guest"><th>Login to rate your orders and save order history</th><th>or Continue as Guest</th></tr>
    <tr>
      <td class="login_guest"><span class="btn btn-primary" style="color:white">
        <a href="{% url 'login'%}?next={{request.path}}">Login</a>
      </span></td>
      <td class="login_guest">
        <span class="btn btn-primary" style="color:white">
          <a class="retrieve_order" href="#" name="orderdata" id="orderdata">
            Retrieve_order: Continue as Guest</a>
            <p class="TODO">Fix so we don't need two buttons</p>
          </span>
        </td>
        </tr>
        <tr>
          <td class="login_guest"><span class="btn btn-primary" style="color:white">
            <a href="/orders/signup.html">Sign Up</a>
          </span></td>
          <td class="login_guest">
            <span class="btn btn-primary" style="color:white">
              <a class="Order_list" href="{% url 'order_list'%}" >
                Order_List: Kluge: Use after Retrieve Order</a>
              </span>
            </td>
        </tr>
      </table>
      <h3>Experiments</h3>
      <span class="btn btn-primary" style="color:white">
        <a>orderSTR in curly brackets results in error</a>
      </span>
      <span class="TODO">Back to putting data in URL</span>
      <span class="btn btn-primary" style="color:white">
        <a href=" url 'confirm_order'  ">OrderSTR as variable in URL</a>
      </span>
    </div>
    <button>Send an HTTP GET request to a page and get the result back</button>
    <p id="ajax_on_click">Ajax on Click</p>
    <h2>From django example</h2>
        <a class="likebutton" id="like{{post.id}}" style="color:green" href="#" data-catid="{{ post.id }}">Like</a>
    <h2 id="testajax">Ajax Test Pre</h2>
    <p class="btn btn-primary" style="color:white">
      <a class="workaround" href="url 'checkout'">
        Workaround: Data Loaded, Click to Continue</a>
      </p>
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'orders/common.js' %}"></script>
    <script src="{% static 'orders/p3place_order.js' %}"></script>
    {% endblock %}
