{% extends "base_generic.html" %}

{% block content %}
<div class="TODO">
  <p>{{user_is_authenticated}}</p>
  <p>SOMEDAY: Center table or eliminate white space for wide window</p>
</div>
<p id="user_id" style = display:none>{{user.id}}</p>

{% block order_frame %}
<table id="order_frame">
  <tr class="toppingheader">
    <td colspan="3"></td>
  </tr>
  <tr class="toppingpage">
    <td class="toppingpage_left"></td>
    <td class="toppingpage_middle">
      <div style="overflow-y:auto;">
        <table id="order">
        </table>
      </div>
    </td>
    <br>
    <td class="toppingpage_right"></td>
  </tr>
  <tr class="toppingheader">
    <td colspan="3"></td>
  </tr>
</table>
{% endblock %}  <!-- order_frame -->

{% block menu_control %}
<div id="menu_control" class="flex-container">
  <div>
    {%if user.is_authenticated %}
    <form action="{% url 'get_orderJS' %}" method="post">
      {% csrf_token %}
      {# form #}
      <input  type="submit" class="btn btn-primary" style="color:white"
      value="Place Order">
      <textarea id="orderdataJSON" name="orderdataJSON" rows="8" cols="80" style = display:none></textarea>
    </form>
    {% else %}
    <form action="{% url 'place_order' %}" method="post">
      {% csrf_token %}
      {# form #}
      <input  type="submit" class="btn btn-primary" style="color:white" value="Place Order">
      <textarea id="orderdataJSON" name="orderdataJSON" rows="8" cols="80" style = display:none></textarea>
    </form>
    {% endif %}
    </div>
  <div class="btn btn-primary" onclick="add_more_to_order()">
      Add More items
  </div>
  <div>
    <form action="" method="POST" class = "">
      <input type="button" value="Cancel Order"
      class="btn btn-warning" onclick = "cancel_order()">
      </form>
  </div>
</div>

{% load staticfiles %}
<script src="{% static 'orders/common.js' %}"></script>
<script src="{% static 'orders/p3review_order.js' %}"></script>
{% endblock %} <!-- menu_control -->
{% endblock %}  <!-- content -->
