{% extends "base_generic.html" %}
{% block title %}<title>Sub Building Block</title>{% endblock %}
{% block content %}
  <h1>Start with Subs</h1>
  <h2 class="TODO">Add CSS file and move to form</h2>
  <h2 class="TODO">Add permissions</h2>
  <h3>Sub List: {{salad_list}}</h3>
  <h3>Sub: {{salad}}</h3>
  <ul>
    <p>for salad in salad_list</p>
    {% for salad in salad_list %}
    <l1>Sub List HTML: {{salad.name}} {{salad.price}}</l1>
    <!-- <li>{{salad.name}} {{salad.price}} - <a href="{% url 'salad_detail' saladinst.id %}">Edit</a></li> -->
    {% endfor %}
  </ul>
  <p>Add Sub Button</p>
{% endblock %}
